@font-face {
    font-family: Roboto;
    src: url("./../resources/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Lt;
    src: url("./../resources/fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("./../resources/fonts/Roboto-Bold.ttf");
}

.root {
	-fx-font-family: "Roboto", "consolas";
	-fx-font-size: 14px;
	-fx-text-fill: -light-200;
	-accent: #6331AF;
	-accent-lighter: #6c36bf;
	-accent-darker: #5a2ba1;
	-light-100: #D8D9DB;
	-light-200: #c1c3c7;
	-slate-100: #67696B;
	-slate-200: #4C4D50;
	-slate-300: #37383A;
	-slate-400: #202123;
	-slate-500: #17171A;
	-slate-600: #111113;	
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 5.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 5.0 0.0 0.0;
}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :-slate-300;
    -fx-background-insets : 1, 0.0, 0.0;
    -fx-background-radius : 1em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(-slate-300,10.0%);
    -fx-background-insets : 1, 0.0, 0.0;
    -fx-background-radius : 1em;
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
	-fx-background-color: -slate-400;
    -fx-background-radius : 2.0em;
}

#mainContainer {
	-fx-background-color: -slate-500;
}

.text-field-primary {
	-fx-background-color: -slate-600;
	-fx-text-fill: -light-200;
	-fx-prompt-text-fill: -slate-300;
	-fx-padding: 10px 10px;
}

.movie-label {
	-fx-text-fill: -slate-100;
	-fx-font-size: 0.8em;
	-fx-wrap-text: true;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-max-width: 300;
	-fx-max-height: 300;
}

.button-primary{
	-fx-background-color: -accent;
	-fx-text-fill: -light-100;
	-fx-padding: 10px 20px;
	-fx-font-family: "Roboto Bold" !important;
	-fx-font-size: 0.8em;
	-fx-cursor: hand;
	
    -fx-border-insets: 0 5px;
    -fx-background-insets: 0 5px;
}

.button-primary:hover{
	-fx-background-color: -accent-lighter !important;
}

.button-primary:pressed{
	-fx-background-color: -accent-darker !important;
}

.main-title {
	-fx-font-family: "Roboto Lt", "consolas" !important;
	-fx-font-size: 2em !important;
	-fx-text-fill: -light-200 !important;
}

.divider-line {
	-fx-background-color: -slate-600 !important;
	-fx-border-color: -slate-400 !important;
	-fx-border-width: 1px 0 0 0 !important;
	-fx-border-insets: 1px 0 0 0 !important;
}

.icon-button {
	-fx-cursor: hand;
	-fx-background-color: -slate-300 !important;
}

.icon-button:hover{
	-fx-background-color: -slate-200 !important;
}

.icon-button:pressed{
	-fx-background-color: -slate-100 !important;
}

.icon-button-active{
	-fx-background-color: -accent !important;
}

.button-back {
	-fx-background-color: transparent;
	-fx-font-size: 0.9em;
	-fx-font-weight: bold;
	-fx-text-fill: -slate-300;
	-fx-cursor: hand;
}

.button-back:hover {
	-fx-text-fill: -slate-200 !important;
}

.button-back:hover > .icon-button {
	-fx-background-color: -slate-200 !important;
}

.button-back:pressed {
	-fx-text-fill: -slate-100 !important;
}

.button-back:pressed > .icon-button {
	-fx-background-color: -slate-100 !important;
}
